@using HR_System.Models.Entities;
@model List<AuthUser>

<h2>Claim Admin privileges:</h2>
<p>press here to instantiate your app by approving the pre defined admin user</p>
<form method="post" asp-action="ApproveAdmin">
    <input type="hidden" name="userId" value="1" />
    <button type="submit" class="btn btn-primary">Instantiate Admin</button>
</form>