@using HR_System.Models.Entities;
@model List<AuthUser>

<h2>Pending Users</h2>

<table class="table custom-table">
    <thead>
        <tr>
            <th style="color:white">Username</th>
            <th style="color:white">Email</th>
            <th style="color:white">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="color:white">@user.UserName</td>
                <td style="color:white">@user.Email</td>
                <td>
                    <form style="color:white"  method="post" asp-action="ApproveUser">
                        <input style="color:white" type="hidden" name="userId" value="@user.Id" />
                        <button style="color:white" type="submit" class="btn btn-primary">Approve</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .custom-table {
        color: white;
    }
    td{
        color: white
    }
    th{
        color: white
    }
</style>
