@model List<Position>

@if (Model != null)
{
    <div class="container mt-4">
        <ul class="list-group">
            <h1>Positions list:</h1>
            @foreach (var position in Model)
            {
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h3>Id: @position.Id</h3>
                            <h3>Position: @position.Name</h3>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
            <a asp-controller="Position" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Add a new Position
            </a>
        </div>
    </div>
}
else
{
    <p>No Positions are available.</p>
}